.tasklist__todo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    transition: .2s;
    border-radius: 10px;
    width: 90%;
    background-color: #dddc0f;
    margin: 10px 0;
}

.tasklist__todo:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}

.tasklist__main {
    width: 45%;
}

.tasklist__main-tittle {
    text-align: center;
    margin-bottom: 20px;
}

.tasklist__todo-icons {
    display: flex;
    width: 13%;
    justify-content: space-between;
}

.tasklist__todo-icons svg {
    cursor: pointer;
    font-size: 20px;
}

.isDone {
    text-decoration: line-through;
}

.tasklist__todo-item {
    word-wrap: break-word;
    width: 50%;
}

@media screen and (max-width: 1300px) {
    .tasklist__todo-icons {
        width: 20%;
    }
}

@media screen and (max-width: 900px) {
    .tasklist__todo-icons {
        width: 30%;
    }
}

@media screen and (max-width: 500px) {
    .tasklist__todo-icons {
        width: 50%;
    }
}